.staatliches-regular {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
body {
    background-color:grey;
}



.first-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.second-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


/* .section-right {
    align-items: last baseline;
    display: flex;
    flex-flow: row wrap;
} */



/* This was the issuew cause vignette issues */


h1 {
   text-align: center;
   font-size: 80px;
   color: azure;
   text-shadow: 1px 1px 1px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 1), 0 0 0.5em rgb(0, 0, 0);
   opacity: 95%;
}
/* div:nth-of-type(3) {
    default size of the parent container more in width
    flex: 2 200px;
} */

/* https://dev.to/lensco825/two-ways-to-add-text-over-images-399h#:~:text=add%20a%20text%20container%20with,or%20bottom%20of%20the%20parent. */

/* Setting the dimensions of the frame */
.fighter-frame {
    width: 500px;
    height: 345px;
    border-radius: 20px;
    margin-right: 25px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 0px rgb(0, 0, 0), 0 0 0em rgb(0, 0, 0), 0 0 1.5em rgb(0, 0, 0);
    transition: all 0.2s;
}



/* setting the dimentions of the image by inheriting */
.fighter-frame > img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    position: absolute;
    border-radius: inherit;

}

.fighter-frame:hover{
    /* transition: all 0.2s;
    transform: translateY(-0.25em); */
    transition: all 0.2s;
    box-shadow: 0.0 0.0 10em white;
    transform: translateY(-0.90em);
    cursor: pointer; 
}

/* .fighter-frame:hover {
    border-color: yellow;
    color: yellow;
    box-shadow: 0 0.5em 6em yellow;
    transform: translateY (-0.25em);
    cursor: pointer; 
} */



.quote-text {
    color: white;
    width: inherit;
    height: inherit;
    position: relative;
    border-radius: inherit;
    /*  */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 9.06%, #1E1E1E 100%);
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 38px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0), 0 0 1em rgb(0, 0, 1), 0 0 0.9em rgb(0, 0, 0);
    opacity: 0.80;
}

.quote-text:hover{
    color: white;
    opacity: 1;
    transition: all 0.2s;
    
}

/* .quote-text:hover {
    transition: all 0.2s;
    border-color: yellow;
    color: yellow;
    box-shadow: 0 0.3em 1em yellow;
    transform: translateY(-0.25em);
    cursor: pointer; 
} */

.info > h4 {
    align-items: center;
    justify-content: center;
    font-size: 25px;
    text-decoration-skip-ink: all;
  }


