body {
    background-color:grey;
}

h1 {
   text-align: center;
}

section {
    text-align: center;
    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    flex-flow: column wrap;
}

div {
    margin-top: 10px;
    flex: 130px;
}

/* div:nth-of-type(3) {
    default size of the parent container more in width
    flex: 2 200px;
} */

img {
    position: relative;
}

.image-text {
    color: azure;
    position: relative;
}


